@charset "UTF-8";

/* Paleta de cores
Azul claro: #B7DBEB
Azul mais escuro: #8CC3D7
Amarelo: #F2C84B
Laranja: #F2A74B
Areia: #E4C8B3 */

/* Paleta de cores
Rosa choque: #F2059F
Rosa: #F216B7
Rosa claro: #D98FD4
Azul escuro: #033E8C
Azul claro: #679AC5 */